LOCAL_WEBSITE_PATH=''
LOCAL_DATA_AGGREGATOR_PATH=''
LOCAL_DATA_SERVICE_ASSETS_PATH=''
LOCAL_DATA_SERVICE_STYLES_PATH=''
LOCAL_DATA_SERVICE_ARCHIVES_PATH=''
LOCAL_DATA_SERVICE_ARTIST_ENRICHMENT_PATH=''
LOCAL_DATA_ENHANCER_PATH=''
LOCAL_JOURNEYMAKER_CLIENT_PATH=''
LOCAL_DATA_HUB_FOUNDATION_PATH=''
LOCAL_UTILS_PATH=''
LOCAL_DOCKER_PATH=''

DA_DB_HOST=mysql
DA_DB_CONNECTION=mysql
DA_DB_PORT=3306
DA_DB_DATABASE=data-aggregator
DA_DB_USERNAME=sail
DA_DB_PASSWORD=password

WEB_DB_HOST=pgsql
WEB_DB_CONNECTION=pgsql
WEB_DB_PORT=5432
WEB_DB_DATABASE=website
WEB_DB_USERNAME=sail
WEB_DB_PASSWORD=password

VECTORS_DB_HOST=pgsql
VECTORS_DB_CONNECTION=pgsql
VECTORS_DB_PORT=5432
VECTORS_DB_DATABASE=vectors
VECTORS_DB_USERNAME=sail
VECTORS_DB_PASSWORD=password

DS_ASSETS_DB_HOST=mysql
DS_ASSETS_DB_CONNECTION=mysql
DS_ASSETS_DB_PORT=3306
DS_ASSETS_DB_DATABASE=data-service-assets
DS_ASSETS_DB_USERNAME=sail
DS_ASSETS_DB_PASSWORD=password

DS_STYLES_DB_CONNECTION=sqlite
DS_STYLES_DB_DATABASE=/var/www/data-service-styles/database/database.sqlite

DS_ARTIST_ENRICHMENT_DB_HOST=pgsql
DS_ARTIST_ENRICHMENT_DB_CONNECTION=pgsql
DS_ARTIST_ENRICHMENT_DB_PORT=5432
DS_ARTIST_ENRICHMENT_DB_DATABASE=data-service-artist-enrichment
DS_ARTIST_ENRICHMENT_DB_USERNAME=sail
DS_ARTIST_ENRICHMENT_DB_PASSWORD=password

DS_ARCHIVES_DB_HOST=pgsql
DS_ARCHIVES_DB_CONNECTION=pgsql
DS_ARCHIVES_DB_PORT=5432
DS_ARCHIVES_DB_DATABASE=data_service_archives
DS_ARCHIVES_DB_USERNAME=sail
DS_ARCHIVES_DB_PASSWORD=password

DATA_ENHANCER_DB_HOST=mysql
DATA_ENHANCER_DB_CONNECTION=mysql
DATA_ENHANCER_DB_PORT=3306
DATA_ENHANCER_DB_DATABASE=data-enhancer
DATA_ENHANCER_DB_USERNAME=sail
DATA_ENHANCER_DB_PASSWORD=password

WWWGROUP=1000
WWWUSER=1000
MYSQL_EXTRA_OPTIONS=
